# Advanced Dataframes Part I Exercise Review

In [ ]:
import pandas as pd
import numpy as np
from env import host, user, password

1. Run `python -m pip install mysqlclient pymysql` from your terminal to install the mysql client (any folder is fine)

In [ ]:
! python -m pip install mysqlclient pymysql

2. cd into your exercises folder for this module and run `echo env.py >> .gitignore`

In [ ]:
! echo env.py >> .gitignore

3. Create a function named `get_db_url`. It should accept a username, hostname, password, and database name and return a url connection string formatted like in the example at the start of this lesson.

In [ ]:
# Creating a get_db_url function to produce formatted string for pandas
def get_db_url(db):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [ ]:
# Storing SQL query as multiline string
sql = '''SELECT * FROM employees LIMIT 10'''

4. Use your function to obtain a connection to the `employees` database.

In [ ]:
# Obtaining a connection to the employees database
employees = pd.read_sql(sql, get_db_url('employees'))
employees

In [ ]:
employees.shape

5. Once you have successfully run a query:
    - Intentionally make a typo in the database url. What kind of error message do you see?

In [ ]:
# Intentionally make a typo in the database URL
url = get_db_url("employees") + "123"

In [ ]:
pd.read_sql(sql, url)

5. Once you have successfully run a query:
    - Intentionally make an error in your SQL query. What does the error message look like?

In [ ]:
# Intentionally making an error in my SQL query
url = get_db_url("employees")
sql = 'SELECT * FROM employees WHERE apples = 1'

In [ ]:
pd.read_sql(sql, url)

6. Read the `employees` and `titles` tables into two separate DataFrames.

In [ ]:
# read the employees and titles tables into two separate dataframes
sql1 = 'SELECT * FROM employees'
sql2 = 'SELECT * FROM titles'

In [ ]:
employees = pd.read_sql(sql1, url)

In [ ]:
titles = pd.read_sql(sql2, url)

7. How many rows and columns do you have in each DataFrame? Is that what you expected?

In [ ]:
# How many rows and columns do we have in employees
employees.shape

In [ ]:
# How many rows and columns do we have in titles
titles.shape

8. Display the summary statistics for each DataFrame.

In [ ]:
# Displaying the summary statistics for each dataframe
employees.info()

In [ ]:
employees.describe()

In [ ]:
titles.info()

In [ ]:
titles.describe()

9. How many unique titles are in the `titles` DataFrame?

In [ ]:
# Approach #1: SQL based

pd.read_sql('SELECT COUNT(DISTINCT title) AS unique_title_count from titles', url)

In [ ]:
# Approach #2: Pandas based
titles.title

In [ ]:
titles.title.unique()

In [ ]:
len(titles.title.unique())

10. What is the oldest date in the `to_date` column?

In [ ]:
# Approach #1: SQL based
pd.read_sql('SELECT MIN(to_date) from titles', url)

In [ ]:
# Approach #2: Pandas based
titles.to_date

In [ ]:
titles.to_date.min()

11. What is the most recent date in the `to_date` column?

In [ ]:
# Approach #1: SQL based
pd.read_sql('SELECT MAX(to_date) FROM titles', url)

In [ ]:
# Approach #2: Pandas based
titles.to_date.max()